<div class="fixed-action-btn">
        <a class="btn-floating btn-large black"><i class="material-icons">touch_app</i></a>
        <ul>
            <li><a class="btn-floating red">G+</a></li>
            <li><a class="btn-floating pink">Ins</a></li>
            <li><a class="btn-floating blue">Tw</a></li>
            <li><a class="btn-floating blue darken-4">Fb</a></li>
        </ul>
    </div>