<div class="row" style="margin-top: 4rem">
    <div class="col s8">
        <div class="center-align">
            <img src="2d-hero.png">
        </div>
    </div>
    <div class="col s4">
        <div class="card">
            <div class="card-image">
                <img src="logos/materialize.png">
            </div>
            <div class="card-content">
                <p>
                    Somos una empresa dedicada al desarrollo
                    de soluciones informáticas, para que usted pueda disfrutar de su trabajo y
                    lograr el mejor rendimiento.
                </p>
            </div>
            <div class="card-action">
                <a href="/contact">Contact Us</a>
            </div>
        </div>
    </div>
</div>