<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Compiled and minified CSS -->
    <link rel="stylesheet" href="css/materialize.css">
    <title>//Whatever Code</title>
</head>

<body>
    {{> navigations}}
    {{> socials}}

    <div class="container">
        {{{body}}}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="js/materialize.js"></script>
    <script>
        $(document).ready(function () {
            $('.fixed-action-btn').floatingActionButton();
            $('.sidenav').sidenav();
            $('input#input_text, textarea#textarea2').characterCounter();
            $('.carousel').carousel({
                shift: 100,
            });
            $(document).ready(function () {
                $('.collapsible').collapsible();
            });
        });
    </script>
</body>

</html>